.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .form {
    display: flex;
    flex-direction: column;
    padding: 60px;
    border: 1px solid #565656;
    border-radius: 7px;
}

.container .form .input {
    height: 35px;
    font-size: 19px;
    padding-left: 7px;
    margin-bottom: 15px;
    border: 1px solid #565656;
    border-radius: 5px;
}

.container .form .button {
    border: none;
    background-color: rgb(90, 52, 150);
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 17px;
}

.container .form .icon {
    align-self: flex-end;
    margin-top: -43px;
    margin-right: 10px;
    margin-bottom: 25px;
}

